virt-install \
  --name {{ inventory_hostname }} \
  --vcpus {{ vcpus }} \
  --ram {{ ram }} \
  --connect=qemu:///system \
  --autostart \
{% if guest_type is defined and guest_type == "image" %}
  --import \
  --disk {{ image_path}}/{{ inventory_hostname }}.iso,device=cdrom \
  --virt-type kvm \
{% endif %}
{% for bridge in bridges %}
{% if virtio_multiqueue is defined %}
  --network bridge={{ bridge }},model=virtio,driver_name=vhost,driver_queues={{ vcpus }} \
{% else %}
  --network bridge={{ bridge }},model=virtio \
{% endif %}
{% endfor %}
{% if guest_type is not defined or guest_type != "image" %}
{% if provision_virt_install_extra_settings is defined %}
{% for param in provision_virt_install_extra_settings %}
  {{ param }} \
{% endfor %}
{% endif %}
{% if ansible_distribution == "CentOS" and ansible_distribution_major_version|int >= 7 %}
  --cpu=host-model \
{% else %}
  --cpu=host \
{% endif %}
{% for device in (vm_pci_passthrough_devices | default([])) %}
  --host-device={{ device }} \
{% endfor %}
  --graphics=vnc,keymap="fi" \
  --wait={{ install_timeout }} \
  --location={{ install_url }} \
  --initrd-inject={{ runtime_tempdir }}/{{ inventory_hostname }}.ks \
{% if os_variant not in ["rhel6", "rhel7"] %}
  --extra-args="inst.text inst.ks=file:/{{ inventory_hostname }}.ks" \
{% else %}
  --extra-args="ks=file:/{{ inventory_hostname }}.ks"
{% endif %}
{% endif %}
{% if os_variant is defined %}
  --os-variant={{ os_variant }} \
  --os-type=linux \
{% endif %}
{% for disk in disks %}
  --disk path={{ disk.path }},cache=writethrough,discard=unmap,device=disk,bus=virtio,size={{ disk.size }},format={{ disk.format | default('raw') }}
{% endfor %}
