virt-install \
  --name {{ inventory_hostname }} \
  --vcpus {{ vcpus }} \
  --ram {{ ram }} \
  --connect=qemu:///system \
  --autostart \
  --noautoconsole \
{% for disk in disks %}
  --disk path={{ disk.path }},cache={{ disk.cache | default('none') }},discard={{ disk.discard | default('unmap') }},device=disk,bus=virtio,size={{ disk.size | default('30') }},format={{ disk.format | default('qcow2') }} \
{% endfor %}
{% if guest_type is defined and guest_type == "image" %}
  --import \
  --disk {{ image_path}}/{{ inventory_hostname }}.iso,device=cdrom \
{% endif %}
{% if ci_mode | default(false) %}
  --network=default,model=virtio \
{% else %}
{% if bridge is defined %}
{% for bridge in bridges %}
{% set bridge_config = "bridge={{ bridge }},model=virtio" %}
{% if virtio_multiqueue is defined %}
{% set bridge_config = bridge_config + ",driver_name=vhost,driver_queues=%s" % vcpus %}
{% elif mac_address is defined %}
{% set bridge_config = bridge_config + ",mac=%s" % mac_address %}
{% endif %}
  --network {{ bridge_config }} \
{% endfor %}
{% endif %}
{% endif %}
{% if guest_type is not defined or guest_type != "image" %}
  --location={{ install_url }} \
  --initrd-inject={{ runtime_tempdir }}/{{ inventory_hostname }}.ks \
{% set extra_args = [
  "console=ttyS0,115200n8",
  "serial",
  "inst.text",
  "plymouth.enable=0",
  "inst.ks=file:/%s.ks" % inventory_hostname
] %}
{% if provision_virt_install_extra_settings is defined %}
{% set extra_args = extra_args + provision_virt_install_extra_settings %}
{% endif %}
  --extra-args="{{ extra_args | join(' ') }}" \
  --serial file,path=/var/log/libvirt/qemu/{{ inventory_hostname }}-serial.log \
  --cpu={{ cpu_model | default('host-model') }} \
{% for device in (vm_pci_passthrough_devices | default([])) %}
  --host-device={{ device }} \
{% endfor %}
  {{ kickstart_graphics | default('--nographics') }} \
{% endif %}
{% if os_variant is defined %}
  --os-variant={{ os_variant }} \
{% endif %}
  --wait={{ install_timeout }} \
  --virt-type {{ virt_type }}
